[data-md-color-scheme="kerdoku-dark"] {
  --md-default-fg-color: hsla(0, 0%, 100%, 0.87);
  --md-default-fg-color--light: hsla(0, 100%, 100%, 0.54);
  --md-default-fg-color--lighter: hsla(0, 100%, 100%, 0.32);
  --md-default-fg-color--lightest: hsla(0, 0%, 100%, 0.07);
  --md-accent-fg-color: #fff;
  --md-default-bg-color: #0e1929;
  --md-typeset-a-color: #a8aff8;
  --md-code-bg-color: #2f3136;
  --md-code-fg-color: #fff;
}

[data-md-color-scheme="default"] {
  --md-typeset-a-color: #3c45a5;
}